<!--
   Created by 陶鹏飞 on 2017/9/21.
-->
<form id="addGuestGradeTypeForm" class="form-horizontal" role="form" name="addGuestGradeTypeForm" ng-submit="ctrl.submit()">
    <!-- 模态框header -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{'CONFIG.MENU_GUESTGRADETYPE.ADD_TITLE'|translate}}</h4>
    </div>

    <!-- 模态框body -->
    <div class="modal-body">
        <div class="row">
            <!-- 顾客档次名称 -->
            <div class="col-lg-6 col-md-6 col-xs-6 col-xs-12 column">
                <div class="input-group has-feedback"
                     ng-class="{'has-success' : !addGuestGradeTypeForm.newGuestGradeTypeName.$pristine && addGuestGradeTypeForm.newGuestGradeTypeName.$valid,
                              'has-error' : !addGuestGradeTypeForm.newGuestGradeTypeName.$pristine && addGuestGradeTypeForm.newGuestGradeTypeName.$invalid }">
                    <span class="input-group-addon">{{'CONFIG.MENU_GUESTGRADETYPE.MODAL_NAME'|translate}}</span>
                    <input type="text" class="form-control" id="newGuestGradeTypeName" name="newGuestGradeTypeName"
                           placeholder="{{'COMMON.PLACEHOLDER'|translate}}"
                           ng-maxlength="18"
                           ng-model="newGuestGradeTypeName" required>
                    <div ng-show="!addGuestGradeTypeForm.newGuestGradeTypeName.$pristine && addGuestGradeTypeForm.newGuestGradeTypeName.$valid">
                        <span class="glyphicon glyphicon-ok form-control-feedback text-success rigt"></span>
                    </div>
                    <div ng-show="!addGuestGradeTypeForm.newGuestGradeTypeName.$pristine && addGuestGradeTypeForm.newGuestGradeTypeName.$invalid">
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                </div>
                <div style="color: red" ng-show="addGuestGradeTypeForm.newGuestGradeTypeName.$invalid">
                    <span ng-show="addGuestGradeTypeForm.newGuestGradeTypeName.$error.maxlength">
                        {{'CONFIG.MENU_GUESTGRADETYPE.LENGTH_CHECK_18'|translate}}
                    </span>
                </div>
                <div style="color: red" ng-show="addGuestGradeTypeForm.newGuestGradeTypeName.$invalid">
                    <span ng-show="addGuestGradeTypeForm.newGuestGradeTypeName.$error.required">
                        {{'CONFIG.MENU_GUESTGRADETYPE.MUST_INPUT'|translate}}
                    </span>
                </div>
            </div>
            <!-- 顾客档次状态 -->
            <div class="col-lg-6 col-md-6 col-xs-6 col-xs-12 column">
                <div class="input-group has-feedback">
                    <span class="input-group-addon">{{'CONFIG.MENU_GUESTGRADETYPE.MODAL_STATUS'|translate}}</span>
                    <input type="text" class="form-control" id="newStatus"
                           ng-model="newStatus" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1></h1>
            </div>
        </div>

        <div class="row">

            <!-- 顾客档次下限 -->
            <div class="col-lg-6 col-md-6 col-xs-6 col-xs-12">
                <div class="input-group has-feedback"
                     ng-class="{'has-success' : !addGuestGradeTypeForm.newBottomAmt.$pristine && addGuestGradeTypeForm.newBottomAmt.$valid,
                              'has-error' : !addGuestGradeTypeForm.newBottomAmt.$pristine && addGuestGradeTypeForm.newBottomAmt.$invalid }">
                    <span class="input-group-addon">{{'CONFIG.MENU_GUESTGRADETYPE.MODAL_BOTTOM'|translate}}</span>
                    <input type="text" class="form-control" id="newBottomAmt" name="newBottomAmt"
                           placeholder="{{'COMMON.PLACEHOLDER'|translate}}"
                           pk-check="newTopAmt"
                           ng-pattern="/^(-)?\d+(\.\d+)?$/"
                           ng-model="newBottomAmt" required>
                    <div ng-show="!addGuestGradeTypeForm.newBottomAmt.$pristine && addGuestGradeTypeForm.newBottomAmt.$valid">
                        <span class="glyphicon glyphicon-ok form-control-feedback text-success rigt"></span>
                    </div>
                    <div ng-show="!addGuestGradeTypeForm.newBottomAmt.$pristine && addGuestGradeTypeForm.newBottomAmt.$invalid">
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                </div>
                <div style="color: red" ng-show="addGuestGradeTypeForm.newBottomAmt.$invalid">
                    <span ng-show="addGuestGradeTypeForm.newBottomAmt.$error.pattern">
                        {{'CONFIG.MENU_GUESTGRADETYPE.NUMBER_CHECK'|translate}}
                    </span>
                </div>
                <div style="color: red" ng-show="addGuestGradeTypeForm.newBottomAmt.$invalid">
                    <span ng-show="addGuestGradeTypeForm.newBottomAmt.$error.required">
                        {{'CONFIG.MENU_GUESTGRADETYPE.MUST_INPUT'|translate}}
                    </span>
                </div>
                <div style="color: red" ng-show="addGuestGradeTypeForm.newBottomAmt.$invalid">
                    <span ng-show="addGuestGradeTypeForm.newBottomAmt.$error.peakCheck">
                        {{'CONFIG.MENU_GUESTGRADETYPE.PEAK_CHECK'|translate}}
                    </span>
                </div>
            </div>
            <!-- 顾客档次上限 -->
            <div class="col-lg-6 col-md-6 col-xs-6 col-xs-12">
                <div class="input-group has-feedback"
                     ng-class="{'has-success' : !addGuestGradeTypeForm.newTopAmt.$pristine && addGuestGradeTypeForm.newTopAmt.$valid,
                              'has-error' : !addGuestGradeTypeForm.newTopAmt.$pristine && addGuestGradeTypeForm.newTopAmt.$invalid }">
                    <span class="input-group-addon">{{'CONFIG.MENU_GUESTGRADETYPE.MODAL_TOP'|translate}}</span>
                    <input type="text" class="form-control" id="newTopAmt" name="newTopAmt"
                           placeholder="{{'COMMON.PLACEHOLDER'|translate}}"
                           ng-pattern="/^(-)?\d+(\.\d+)?$/"
                           ng-model="newTopAmt" required>
                    <div ng-show="!addGuestGradeTypeForm.newTopAmt.$pristine && addGuestGradeTypeForm.newTopAmt.$valid">
                        <span class="glyphicon glyphicon-ok form-control-feedback text-success rigt"></span>
                    </div>
                    <div ng-show="!addGuestGradeTypeForm.newTopAmt.$pristine && addGuestGradeTypeForm.newTopAmt.$invalid">
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                </div>
                <div style="color: red" ng-show="addGuestGradeTypeForm.newTopAmt.$invalid">
                    <span ng-show="addGuestGradeTypeForm.newTopAmt.$error.pattern">
                        {{'CONFIG.MENU_GUESTGRADETYPE.NUMBER_CHECK'|translate}}
                    </span>
                </div>
                <div style="color: red" ng-show="addGuestGradeTypeForm.newTopAmt.$invalid">
                    <span ng-show="addGuestGradeTypeForm.newTopAmt.$error.required">
                        {{'CONFIG.MENU_GUESTGRADETYPE.MUST_INPUT'|translate}}
                    </span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h1></h1>
            </div>
        </div>

        <div class="row">
            <!-- 顾客档次描述 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
                <div class="input-group">
                    <span class="input-group-addon">{{'CONFIG.MENU_GUESTGRADETYPE.MODAL_DESC'|translate}}</span>
                    <textarea class="form-control" rows="3" col="12" id="newGuestGradeTypeDesc" placeholder=""
                              ng-model="newGuestGradeTypeDesc"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn_save"
                ng-disabled="addGuestGradeTypeForm.$error.pattern[0].$invalid ||
                            addGuestGradeTypeForm.$error.required[0].$invalid ||
                            addGuestGradeTypeForm.$error.peakCheck[0].$invalid ||
                            addGuestGradeTypeForm.$error.maxlength[0].$invalid"
                ng-click="save()">{{'COMMON.SAVE'|translate}}</button>
    </div>
</form>