<!--<div class="form-group">
    <label>{{'CONFIG.MENU_BRAND.BRAND_PARENT'|translate}}</label>
    <input style="color: red" class="form-control input-sm" value="{{curBrand}}" disabled/>
</div>-->
<!-- 品牌编码 -->
<div class="form-group">
    <label>{{'CONFIG.MENU_BRAND.EDIT_CODE'|translate}}</label>
    <input class="form-control input-sm" value="{{curBrandCode}}" ng-model="editBrand.Code"/>
</div>
<!-- 品牌名称 -->
<div class="form-group">
    <label>{{'CONFIG.MENU_BRAND.EDIT_NAME'|translate}}</label>
    <input type="text" class="form-control input-sm"  ng-model="editBrand.Name"/>
</div>
<!-- 品牌描述 -->
<div class="form-group">
    <label>{{'CONFIG.MENU_BRAND.EDIT_DESC'|translate}}</label>
    <textarea type="text" class="form-control" rows="3" col="12" id="editBrandDesc" placeholder=""
              ng-model="editBrand.Desc"></textarea>
</div>
<div class="form-group">
    <button type="submit" ng-click="canel()" class="btn btn-danger pull-right">{{'COMMON.CANCEL'|translate}}</button>
    <button type="submit" name="submit" ng-click="saveEdit()" class="btn btn-success pull-right"
            style="margin-right: 5px">{{'COMMON.SAVE'|translate}}
    </button>
    <!--<button type="submit" ng-click="test()" class="btn btn-success pull-right" style="margin-right: 5px">{{'CONFIG.DATA_SOURCE.TEST'|translate}}</button>-->
</div>